body {
  font-family: "Arial", sans-serif;
  margin: auto;
  background-color: #000000;
  padding: 0;

}

h4, p {
  color: #fff;
  margin: 15px;
  font-weight: lighter;
  text-align: center;
}

.text-container
{
  flex: 1;
  margin-right: 20px;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust the last value (alpha) to control transparency */
  color: #fff;
}

#writeReviewLink {
  text-decoration: none;
  padding: 20px;
  margin: 10px;
}

h1 {
  color: #fff;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 10px;
}


#form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 20px 20px 20px;
}



#review-form-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.video-review-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#reviewlist-container {
  width: 50%;
}

#add-review-form,
#add-video-form {
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
}

#add-review-form input,
#add-video-form input {
  padding: 7px;
  margin: 5px 15px 15px 15px;
  display: inline-block;
  width: 180px;
  border: 1px solid #730e0e;
  border-radius: 5px;
  background-color: #000000;
  color: #ffffff;
}

#add-review-form label{
  margin: 15px;
  padding: 20px;
  color: #ffffff;
}

textarea {
  margin: 15px;
  background-color: #730808;
  color: #000000;
  border: 2px solid #000000;
  resize: none;
  padding: 5px;
}

.write-review-link {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: 7px;
  font-size: 12px;
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 3px;
}

#add-video-form label {
  margin-right: 10px;
  color: #ffffff;
  display: inline-block;
  text-align: left;
  width: 150px;
  font-size: 16px;
  font-weight: lighter;
}

#add-review-form button,
#add-video-form button {
  margin: 20px;
  padding: 12px 20px;
  background-color: #730808;
  color: #fff;
  border: 1px solid #730808;
  border-radius: 5px;
}

#add-review-form button:hover,
#add-video-form button:hover {
  background-color: #cf2525;
}


.video-details-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-top: 60px;
  margin-left: 30px;
  padding: 30px 0px 30px 60px;
}

.text-container {
  flex: 1;
  margin-right: 20px;
  color: #fff;
  text-align: center;
}

.genre-release-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resized-image {
  width: auto;
  height: 550px;
}

.image-thumbnail {
  max-width: 250px;
  max-height: auto;
}

.video-container {
  display: inline-block;
  width: 20%;
  box-sizing: border-box;
  padding: 10px 0px 10px 0px;
  text-align: center;
  margin: 10px 0px 10px 0px;
}

.video-row {
  clear: both;
}
.reviews-container {
  background-color: #000000;
  padding: 10px;
  margin-top: 10px;
  flex: 1;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust the last value (alpha) to control transparency */
  color: #fff;
}


/* Style individual review elements */
.review {
  margin-bottom: 10px;
  border: 1px solid #333;
  padding: 10px;
  background-color: #210101;
  color: #fff;
}

/* Add spacing between review messages */
.review p {
  margin: 0;
}

.review-button {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  background-color: #730808;
  color: #fff;
  border: 1px solid #730808;
  border-radius: 5px;
}

.button-wrapper {
  display: flex; 
  margin-top: 25px;
  justify-content: center;
}

/* Dropdown menu styles */
/* Dropdown menu styles */
.search-results-dropdown {
  display: block;
  position: absolute;
  background-color: #000000;
  border: 1px solid #000000;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1;
  right:0
}

#search-results-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

#search-results-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.2s;
  color: #ffffff; /* Change text color to black */
  width: 300px; /* Occupy full width */
  display: flex; /* Make them stack vertically */

}
#search-results-list li .thumbnail {
  max-width: 50px; /* Set the maximum width for the thumbnail */
  margin-right: 10px; /* Add some spacing between the image and the title */
}

#search-results-list li:hover {
  background-color: #252424;
  color: #c2c0c0; /* Change text color to black */
}

/* Show the dropdown menu when results are available */
#search-results-dropdown:enabled {
  display: block;
}
/* Add styling for the thumbnail image */
.thumbnail {
  max-width: 50px; /* Set the maximum width for the thumbnail */
  margin-right: 10px; /* Add some spacing between the image and the title */
}

/* Adjust spacing between list items */
#search-results-list li {
  padding: 10px; /* Increase padding for better spacing */
}
#search-results-list li a {
  color: #ffffff; /* Set the text color to black */
  text-decoration: none;
  font-weight: bold;/* Remove underlines */
  font-size: 16px;
}
.center-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-weight: bold;
  font-size: 16px;
  padding-top: 25px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 20px;
  background-color: #000000;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 800px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  color: white;
}

/* Video player styles */
#videoPlayer {
  width: 100%;
}
#console-output {
  color: white; /* Change to your desired text color */
}
#console-output {
  font-size: 16px; /* Change to your desired font size */
}
