header {
    background-color: #030303;
    color: #fff;
    padding: 10px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .right-links {
    padding-top: 20px;
  }

  .middle-links a {
    font-size: 18px;
  }

  .left-links ul,
  .middle-links ul,
  .right-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .left-links ul li,
  .middle-links ul li,
  .right-links ul li {
    display: inline;
    margin-right: 20px;
  }

  .left-links a,
  .right-links a {
    text-decoration: none;
    color: #fff;
  }

  .left-links a:hover,
  .right-links a:hover {
    text-decoration: underline;
  }

  #logo {
    font-size: 48px;
    font-weight: bolder;
    font-style: italic;
  }

  nav ul li a {
    text-decoration: none;
    color: #fff;
  }

  nav ul li a:hover {
    font-weight: bolder;
    color: #730808;
  }

  #search-input {
    padding: 10px;
    width: 120px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
    font-size: 12px;
  }

  #search-form button {
    padding: 10px 20px;
    background-color: #730808;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
  }

  #search-form button:hover {
    background-color: #c13939;
  }

