header {
    background-color: #030303;
    color: #fff;
    padding: 0px 10px 0px 10px;
  }
  .left-links {
    float: left;
    height: 100px;
    width: 300px;
    margin-top: 12px;
  }


  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .right-links {
    padding-top: 20px;
    margin-left: 20px;
  }


  .middle-links ul,
  .right-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }


  .middle-links ul li,
  .right-links ul li {
    display: inline;
    margin-right: 20px;
  }


  .right-links a {
    text-decoration: none;
    color: #fff;
  }

  .left-links a:hover,
  .right-links a:hover {
    text-decoration: underline;
  }

  #logo {
    font-size: 50px;
    font-weight: bolder;
    font-style: italic;
  }

  nav ul li a {
    text-decoration: none;
    color: #fff;
  }

  nav ul li a:hover {
    text-decoration: underline;
  }

  #search-input {
    padding: 10px;
    width: 110px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
  }

  #search-form button {
    padding: 10px 20px;
    background-color: #730808;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #search-form button:hover {
    background-color: #c13939;
  }

