* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #000000;
}
.container {
  height: 350px;
  width: 350px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.logo {
  position: absolute;
  background-color: #b20510;
  height: 230px;
  width: 55px;
  left: 80px;
  top: 60px;
}
.logo:before {
  content: "";
  position: absolute;
  background-color: #b20510;
  height: 230px;
  width: 55px;
  left: 130px;
}
.logo:after {
  content: "";
  position: absolute;
  background-color: #e30913;
  height: 300px;
  width: 55px;
  transform: rotate(-28deg);
  left: 62px;
  bottom: -31px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.boxes {
  background-color: #000000;
  height: 60px;
  width: 100%;
  position: absolute;
}
.boxes:before {
  position: absolute;
  content: "";
  background-color: #000000;
  height: 40px;
  width: 220px;
  bottom: -260px;
  margin: auto;
  left: 0;
  right: 0;
  border-radius: 50%;
}
