body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.logo {
  font-size: 40px;
  font-weight: bold;

}
header {
  color: #800000;
  background-color: black;
}
h3 {
  color: white;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: -5px;
}
.tabs {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.tab {
  margin-right: 20px;
}

.tab a {
  text-decoration: none;
  color: white;
}

.tab a:hover {
  text-decoration: underline;
}
.search-container {
  display: flex;
  align-items: center;

}
.search-bar {
  width: 200px;
  padding: 5px;
  border: none;
  border-radius: 4px;
  background-color: black;
  color: white;
}
#image-list-container {
  display: flex;
  flex-direction: row;
}
#action-movies-container {
  display: flex;
  flex-direction: row;
}
#drama-movies-container {
  display: flex;
  flex-direction: row;
}
#comedy-movies-container {
  display: flex;
  flex-direction: row;
}
#thriller-movies-container {
  display: flex;
  flex-direction: row;
}

.image-list-item {
  margin-right: 10px;
}

/* Style the images */
.image-item {
  width: 200px;
  height: 300px;
  border-radius: 5px;
  /*transition: transform 0.2s ease-in-out;*/
  position: relative;
}
.image-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red; /* Adjust the background color and opacity as needed */
  color: red; /* Text color for the description */
  display: none; /* Initially hidden */
  transition: opacity 0.2s ease-in-out;
}

.image-item:hover .image-description {
  display: block;
  opacity: 0.5;
}

.image-description p {
  padding: 10px;
  margin: 0;
}
.image-item:hover {
  transform: translateY(-5px);
}


/*.hover-image {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  transition: transform 0.2s;*/
/*}*/


/*.hover-image:hover {*/
/*  transform: translateY(-10px);*/
/*}*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
