body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.logo {
  font-size: 40px;
  font-weight: bold;

}
header {
  color: #800000;
  background-color: black;
}
h3 {
  color: white;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: -5px;
}
.tabs {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.tab {
  margin-right: 20px;
}

.tab a {
  text-decoration: none;
  color: white;
}

.tab a:hover {
  text-decoration: underline;
}
.search-container {
  display: flex;
  align-items: center;

}
.search-form {
  width: 200px;
  padding: 5px;
  border: none;
  border-radius: 4px;
  background-color: black;
  color: #800000;
}
#image-list-container {
  display: flex;
  flex-direction: row;
}
#action-movies-container {
  display: flex;
  flex-direction: row;
}
#drama-movies-container {
  display: flex;
  flex-direction: row;
}
#comedy-movies-container {
  display: flex;
  flex-direction: row;
}
#thriller-movies-container {
  display: flex;
  flex-direction: row;
}

.image-list-item {
  margin-right: 10px;
  margin-left: 10px;
}

/* Style the images */
.image-item {
  width: 200px;
  height: 300px;
  border-radius: 5px;
  /*transition: transform 0.2s ease-in-out;*/
  position: relative;
}
.image-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  color: red;
  display: none;
  transition: opacity 0.2s ease-in-out;
}

.image-item:hover .image-description {
  display: block;
  opacity: 0.5;
}

.image-description p {
  padding: 10px;
  margin: 0;
}
.image-item:hover {
  transform: translateY(-5px);
}


/*.hover-image {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  transition: transform 0.2s;*/
/*}*/


/*.hover-image:hover {*/
/*  transform: translateY(-10px);*/
/*}*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dropdown {
  position: relative;
  display: inline-block;
  border: 1px solid #050505;
  border-radius: 5px;
  background-color: #050404;
  color: #efebeb;
  margin-right: 10px;
  font-size: 16px;
  top: -1.5px;
}

.dropbtn {
  background-color: #050404;
  color: #050404;
  padding: 10px;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #050505;
  min-width: 160px;
  box-shadow: transparent;
  z-index: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


.dropdown-content a {
  color: #efeeee;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {
  background-color: #2f0909;
}


.dropdown:hover .dropdown-content {
  display: block;
}



/*///////////Search Bar///////*/

.search-container input{
  background-color: transparent;
  color: #efeeee;
}

.search-container button{
  background-color: #800000;
  color: #efeeee;
  padding: 4px;
  border: none;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  cursor: pointer;
}

.search-results-dropdown {
  display: block;
  position: absolute;
  background-color: black;
  color: #0c0c0c;
  border: 1px solid #000000;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1;
  right:0
}
.search-results-dropdown input[type="text"] {
  color: #0c0c0c;
  border: none;
  padding: 5px;
  width: 100%;
}

#search-results-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: #0c0c0c;
}

#search-results-list li {
  padding: 10px;
  border-bottom: 1px solid #050505;
  transition: background-color 0.2s;
  color: #0c0c0c;
  width: 300px;
  display: flex;
}
#search-results-list li .thumbnail {
  max-width: 50px;
  margin-right: 10px;
}

#search-results-list li:hover {
  background-color: transparent;
  color: #0c0c0c;
}


#search-results-dropdown:enabled {
  display: block;
}

.thumbnail {
  max-width: 50px;
  margin-right: 10px;
}


#search-results-list li {
  padding: 10px;
  color: black;
}
#search-results-list li a {
  color: #efeeee;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}
.center-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-weight: bold;
  font-size: 16px;
  padding-top: 25px;
}


/*//////Genre theme//////*/
